.App {
  text-align: center;
}
.navbar-nav{
  justify-content: space-between;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container-fluid{
text-align: center;

}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

h5 {
  font-size: 16px;
  color: #555;
}

p {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}
.container-fluid img{
  max-width: 150px;
  max-height: 150px;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.NavBar img {
  max-height: 100px;
  max-width: 100px;
}

.NavBar nav {
  padding-left: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

h4 {
  font-size: 18px;
  margin: 10px 0;
}

h5 {
  font-size: 16px;
  color: #555;
}

p {
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}
.snacks-container {
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.snack-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h4 {
  margin-top: 10px;
  font-size: 1.2em;
}

.card p {
  font-size: 1em;
  margin-bottom: 10px;
}

button {
  background-color: #f39c12;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e67e22;
}
